/* ================================= html ================================= */
html {
  box-sizing: border-box;
  min-width: 960px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* ================================= body ================================= */
body {
  background-color: #849d8f;
  color: #ffffff;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.none-class {
  display: none;
}

.make-visible {
  display: block;
}

.wrapper {
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  width: 1200px;
}

.catalog-list,
.new-icecream-list,
.check-in-list,
.pre-order-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ================================= header/ header-common ================================= */
.header-common {
  display: flex;
  margin-top: 9px;
}

/* ================================= header/ logo-gllacy-link ================================= */
.logo-gllacy-link {
  margin-right: 10px;
}

/* ================================= header/ header-nav ================================= */
.header-nav {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: bold;
  line-height: 1.05;
  letter-spacing: normal;
  margin-right: auto;
  margin-top: 20.5px;
  position: relative;
}

.header-nav > * {
  color: #ffffff;
}

/* ================================= header/ catalog-link ================================= */
.catalog-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 13px;
  margin-right: 24px;
}

.catalog-link:hover {
  background-color: #f7f6f3;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 10px 0px 0px;
  padding: 6px 14px 7px 13px;
}

.catalog-link:focus {
  background-color: #f7f6f3;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 10px 0px 0px;
  padding: 6px 14px 7px 13px;
}

.catalog-link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 10px 0px 0px;
  padding: 6px 14px 7px 13px;
}

.header-nav > a:nth-of-type(1).active-first-state {
  background-color: #d07058;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #ffffff;
  margin: 0px 10px 0px 0px;
  padding: 6px 14px 7px 13px;
}

/* ================================= header/ catalog-list ================================= */
.catalog-link:hover ~ .catalog-list-wrapper {
  display: block;
}

.catalog-link:focus ~ .catalog-list-wrapper {
  display: block;
}

.catalog-list-wrapper:hover {
  display: block;
}

.catalog-list-wrapper:focus {
  display: block;
}

ul.catalog-list-wrapper.make-visible {
  display: block;
}

.catalog-list-wrapper {
  display: none;
  left: -7px;
  padding-top: 6px;
  position: absolute;
  top: 24px;
}

.catalog-list {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list a {
  color:#323232;
  display: inline-flex;
  font-size: 14px;
  line-height: 1.14;
}

.new-icecream-link-top {
  font-weight: bold;
  margin: 6px 0px 7px 0px;
  padding: 5px 20px 6px 20px;
  position: relative;
  width: 100%;
}

.new-icecream-link-top:hover {
  background-color: #fbded8;
}

.new-icecream-link-top:focus {
  background-color: #fbded8;
}

.new-icecream-link-top:active {
  background-color: #f6b5a5;
}

.new-icecream-link-top::after {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  height: 1px;
  left: 6px;
  position: absolute;
  top: 32px;
  width: 128px;
}

.new-icecream-item {
  display: flex;
}

.new-icecream-link {
  font-weight: 400;
  margin-top: 4px;
  padding: 6px 21px 6px 20px;
  width: 100%;
}

.new-icecream-item:last-of-type .new-icecream-link {
  margin-bottom: 8px;
}

.new-icecream-link:hover {
  background-color: #fbded8;
}

.new-icecream-link:focus {
  background-color: #fbded8;
}

.new-icecream-link:active {
  background-color: #f6b5a5;
}

.new-icecream-item .active-second-state {
  background-color: #d07058;
  color: #ffffff;
}

/* ================================= header/ delivery-payment-link ================================= */
.delivery-payment-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 25px;
}

.delivery-payment-link:hover {
  background-color: #f7f6f3;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

.delivery-payment-link:focus {
  background-color: #f7f6f3;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

.delivery-payment-link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

.header-nav > a:nth-of-type(2).active-first-state {
  background-color: #d07058;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #ffffff;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

/* ================================= header/ about-company-link ================================= */
.about-company-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-company-link:hover {
  background-color: #f7f6f3;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

.about-company-link:focus {
  background-color: #f7f6f3;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

.about-company-link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #323232;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

.header-nav > a:nth-of-type(3).active-first-state {
  background-color: #d07058;
  border-radius: 16px/50%;
  border-width: 0px;
  color: #ffffff;
  margin: 0px 11px 0px -13px;
  padding: 6px 14px 7px 13px;
}

/* ================================= header/ basic-usefulness ================================= */
.basic-usefulness {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

/* ================================= header/ basic-top ================================= */
.basic-top {
  align-content: flex-start;
  display: flex;
  margin-bottom: 19px;
  position: relative;
}

/* ================================= header/ search-form ================================= */
.search-form {
  display: none;
  padding-top: 6px;
  position: absolute;
  top: 29px;
  left: -308px;
  z-index: 199;
}

/* ================================= header/ search-button ================================= */
.search-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-width: 0px;
  cursor: pointer;
  display: inline-flex;
  height: 31px;
  width: 33px;
  z-index: 199;
}

.search-icon {
  fill: #ffffff;
  height: 17px;
  margin: 6px 0px 7px 1px;
  width: 17px;
}

.search-button:hover {
  background-color: #f8f7f4;
}

.search-button:hover .search-icon {
  fill: #323232;
}

.search-button:focus {
  background-color: #f8f7f4;
}

.search-button:focus .search-icon {
  fill: #323232;
}

/* ================================= header/ :hover ================================= */
.search-button:hover ~ .search-form {
  display: block;
}

.search-button:focus ~ .search-form {
  display: block;
}

.search-button:hover ~ .modal-background {
  display: block;
}

.search-button:focus ~ .modal-background {
  display: block;
}

.search-form:hover {
  display: block;
}

.search-form:focus {
  display: block;
}

.search-form:hover ~ .modal-background {
  display: block;
}

.search-form:focus ~ .modal-background {
  display: block;
}

/* ================================= header/ search-input-wrapper ================================= */
.search-input-wrapper {
  align-items: flex-start;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  height: 84px;
  width: 341px;
}

.search-input {
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  margin: 20px 5px 5px 15px;
  padding: 11px 8px 13px 13px;
  width: 311px;
}

/* ++++++++++++++++++++++++++ Префиксы ++++++++++++++++++++++++++ */
.search-input[placeholder="Что ищем?"]::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.search-input::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 1.71;
}

.search-input:-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 1.71;
}

.search-input::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 1.71;
}
/* ++++++++++++++++++++++++++ */

/* ================================= header/ modal-background ================================= */
.modal-background {
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

.modal-background.make-visible {
  display: block;
}

/* ================================= header/ sing-in-link ================================= */
.sing-in-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px/50%;
  display: flex;
  margin-left: 11px;
}

.sing-in-icon {
  fill: #ffffff;
  height: 19px;
  margin: 6px 5px 5px 16px;
  width: 21px;
}

.sing-in-text {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: normal;
  margin: 8px 16px 8px 2px;
}

.sing-in-link:hover {
  background-color: #f8f7f4;
}

.sing-in-link:hover .sing-in-icon {
  fill: #323232;
}

.sing-in-link:hover .sing-in-text {
  color: #323232;
}

.sing-in-link:focus {
  background-color: #f8f7f4;
}

.sing-in-link:focus .sing-in-icon {
  fill: #323232;
}

.sing-in-link:focus .sing-in-text {
  color: #323232;
}

/* ================================= header/ sing-in-form-wrapper ================================= */
.sing-in-link:hover ~ .sing-in-form-wrapper {
  display: block;
}

.sing-in-link:focus ~ .sing-in-form-wrapper {
  display: block;
}

.sing-in-form-wrapper:hover {
  display: block;
}

.sing-in-form-wrapper:focus-within {
  display: block;
}

.sing-in-form-wrapper {
  display: none;
  padding-top: 6px;
  position: absolute;
  right: 107px;
  top: 30px;
  width: 277px;
}

/* ================================= header/ sing-in-form ================================= */
.sing-in-form {
  background-color: #f8f7f4;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

/* ================================= header/ cart-empty-link ================================= */
.cart-empty-link.make-visible-flex {
  display: flex;
}

.cart-empty-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px/50%;
  display: none;
  margin-left: 10px;
}

.cart-empty-icon {
  fill: #ffffff;
  height: 20px;
  margin: 6px 5px 5px 16px;
  width: 21px;
}

.cart-empty-text {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: normal;
  margin: 8px 17px 8px 2px;
}

/* ================================= header/ cart-full-link ================================= */
.cart-full-link.make-visible-flex {
  display: flex;
}

.cart-full-link {
  background-color: #f8f7f4;
  border-radius: 16px/50%;
  display: none;
  margin-left: 10px;
  margin-top: 0px;
}

.cart-full-icon {
  height: 20px;
  margin: 6px 5px 2px 16px;
  width: 21px;
}

.cart-full-count {
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  margin: 8px 0px 5px 2px;
}

.cart-full-text {
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  margin: 8px 17px 5px 3px;
}

/* ================================= header/ basic-middle-schedule ================================= */
.basic-middle-schedule {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  margin-bottom: 5px;
}

/* ================================= header/ basic-bottom-phone ================================= */
.basic-bottom-phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  margin-right: -1px;
}

/* ================================= main-index ================================= */
/* ================================= footer-common ================================= */
/* ================================= main-catalog ================================= */

